/* http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
      */
      html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {color: #000;}button, input, optgroup, select, textarea {font-family: inherit;font-size: 100%;font-weight: inherit;line-height: inherit;color: inherit;margin: 0;padding: 0;}button {cursor: pointer;}*, ::after, ::before {box-sizing: border-box;border-width: 0;border-style: solid;border-color: #e5e7eb;}

      /**
        Tailwind classes that are used on this page.
      */
      .bg-center {background-position: center;}
      .bg-cover {background-size: cover;}
      .flex {display: flex;}
      .flex-col {flex-direction: column;}
      .font-bold {font-weight: 700;}
      .font-light {font-weight: 300;}
      .h-64 {height: 16rem;}
      .inline-block {display: inline-block;}
      .justify-between {justify-content: space-between;}
      .min-h-screen {min-height: 100vh;}
      .mb-12 {margin-bottom: 3rem;}
      .mb-2 {margin-bottom: 0.5rem;}
      .mr-1 {margin-right: 0.25rem;}
      .mt-12 {margin-top: 3rem;}
      .mt-4 {margin-top: 1rem;}
      .mt-6 {margin-top: 1.5rem;}
      .no-underline {text-decoration: none;}
      .p-8 {padding: 2rem;}
      .text-center {text-align: center;}
      .text-3xl {font-size: 1.875rem;line-height: 2.25rem;}
      .text-gray-400 {--tw-text-opacity: 1;color: rgb(156 163 175 / var(--tw-text-opacity));}
      .text-sm {font-size: 0.875rem;line-height: 1.25rem;}
      .underline {-webkit-text-decoration-line: underline;text-decoration-line: underline;}
      .w-48 {width: 12rem;}
      .w-full {width: 100%;}@media (min-width: 1024px) {.lg\:flex {display: flex;}
      .lg\:flex-row {flex-direction: row;}
      .lg\:h-auto {height: auto;}
      .lg\:mt-0 {margin-top: 0px;}
      .lg\:p-24 {padding: 6rem;}
      .lg\:text-left {text-align: left;}
      .lg\:w-1\/2 {width: 50%;}}

      body {
        font-family: 'Figtree', sans-serif;
      }

      .heading h1,
      #api .intro, #api .entry .entry-item label,
      #api .entry .rememberMe,
      .helpLink {
				display: none !important;
			}

			#api form .entry .entry-item {
        position: relative;
        padding: 0px 0px 32px 0px;
			}

			#api form .error {
        color: rgb(239 68 68);
        margin: 6px 0;
			}

      #api form ul li {
        margin: 10px 0;
      }

      #api form ul li label {
        margin-bottom: 5px;
        display: none;
      }

			#api form .entry .entry-item input, #api form ul .attrEntry input {
        border: 1px solid #000;
        border-radius: 4px;
        padding: 15px;
        width: 100%;
			}

      #api form ul .attrEntry input {
        display: block;
        margin: 16px 0;
      }

			#api form .entry .entry-item u {
        position: absolute;
        bottom: 0;
        right: 0;
			}

      #api form .buttons #cancel {
        display: none !important;
      }

			#api form .entry .buttons {
			  margin-top: 50px;
			}

      #api form .buttons {
        margin-bottom: 50px;
      }

      #api form .buttons button {
        display: block;
        background: black;
        color: white;
        width: 100%;
        border-radius:4px;
        padding: 17.5px 5px;
			}

      .password-label u, #forgotPassword {
        text-decoration: none;
      }

      #emailVerificationControl_info_message[aria-hidden="false"],
      #emailVerificationControl_success_message[aria-hidden="false"],
      #emailVerificationControl_error_message[aria-hidden="false"] {
        margin: 16px 0;
        display: block !important;
      }

      .helpLink {
        display: none;
      }

      #api form .buttons .verifyCode {
        width: 60%;
        margin-right: 2.5%;
      }
      
      #api form .buttons .sendNewCode {
        width:37.5%;
      }